/*Alejandro Moreno Camacho*/
main{					
	width: 1131px; 
	text-align: justify;
	float: left; 
	box-sizing: border-box;
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: 18px;
	padding: 10px;
	margin: 0 10% 0 10%;
	background-color: red;
}

article:first-child {
	width: 781px;
	height: 190px;
	background-color: blue;
	float: left;
	margin: 25px;
}
article {
	width: 190px;
	height: 190px;
	padding: 10px;
	background-color: yellow;
	float: left;
	margin: 25px;
}
