/*Alejandro Moreno Camacho*/
main{					/*Definimos main como una caja que ocupe el 60% de la pagina, colocada a la izquierda*/
	width: 60%; 
	text-align: justify;
	padding: 1rem;
	float: left; 
	box-sizing: border-box;
	margin-left: 5%;
	background-image: url("IMG - BACKGROUNDS/help.png");
	background-position: right;
	background-repeat: no-repeat;
}
aside{					/*Definimos aside como una caja que ocupe el 25% de la pagina, colocada a la derecha; main y aside se separan correlativamente*/ 
	width: 25%; 		/*con un margen del 5% por cada lado, sin sumar*/
	text-align: left;	/*Con esto conseguimos un layout con 2 partes diferenciadas correlativamente*/
	margin-left: 5%;
	float: left;
	box-sizing: border-box;
	background-color: #F0F0F0;
	height: 100vh;
}
aside img{				/*Cuadro y ajuste de imagen en aside*/
	width: 90%;	
	height: auto;
	float: right;
}
fieldset {
	background-color: white;
	opacity: 0.9;
	padding: 10px;	
	width: 50%;
	height: auto;
}
label, input {
	margin: 5px;
}
button {
	padding: 5px 10px 5px 10px;
}
input[name="nombre"], input[name="apellidos"]{
	width: 300px;
}
input[name="DNI"]{
	width: 75px;
}