/*Alejandro Moreno Camacho*/
main{					/*Definimos main como una caja que ocupe el 60% de la pagina, colocada a la izquierda*/
	width: 60%; 
	text-align: justify;
	padding: 1rem;
	float: left; 
	box-sizing: border-box;
	margin-left: 5%;
}
aside{					/*Definimos aside como una caja que ocupe el 25% de la pagina, colocada a la derecha; main y aside se separan correlativamente*/ 
	width: 25%; 		/*con un margen del 5% por cada lado, sin sumar*/
	text-align: left;	/*Con esto conseguimos un layout con 2 partes diferenciadas correlativamente*/
	padding: 1rem;
	margin-left: 5%;
	float: left;
	box-sizing: border-box;
}
main article h4 {		/*Subtitulo*/
	opacity: 0.5;
}
main article img {		/*Cuadro y ajuste de imagen en main*/
	width: 100%;
	height: auto;
	margin: 20px 0 40px 0;
	border: 3px lightgray solid;
}	
aside img{				/*Cuadro y ajuste de imagen en aside*/
	width: 80%;	
	height: auto;
	margin: 20px 10% 20px 10%;
	border: 3px lightgray solid;
}
#side{					/*Ajuste especial para imagen acoplada a un texto*/
	width: 30%;
	height: auto;
	margin: 20px 30px 20px 30px;
	border: 3px lightgray solid;
	float: right;
}
main p{
	margin: 20px 0 20px 0;
}