/*Alejandro Moreno Camacho*/
main{					/*Definimos main como una caja que ocupe el 80% de la pagina*/
	width: 80%; 
	text-align: justify;
	padding: 1rem;
	float: left; 
	box-sizing: border-box;
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: 18px;
	margin: 0 10% 0 10%;
}
article {
	padding: 20px;
	border-bottom: 5px groove #FF981C;
}
article:nth-child(2n-1) {				/*Borde para articulos impares*/
	border-left: 5px groove #FF981C;
}
article:nth-child(2n) {					/*Borde para articulos pares*/
	background-color: #F0F0F0;	
	border-right: 5px groove #FF981C;
}
article p{
	opacity: 0.5;
}

table {
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: #01E2F7;
	width: 100%;
	height: 200%;
	text-align: center;
	border-collapse: collapse;
	margin-top: 50px;
}
td, th {
	padding: 5px 10px;
}
tbody td {						
	font-size: 12px;
}
tr:nth-child(2n) {						/*Fondo de color a celdas pares*/
	background: #A7C6F5;
}
thead {
	background: #6000A4;
	border-bottom: 5px solid #444444;
}
thead th {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}

