/*Alejandro Moreno Camacho*/
*{
	padding: 0;
	margin: 0;
}
nav{
	background-image: url("IMG - BACKGROUNDS/nav.png");
}
nav ul {
	list-style: none;
	overflow: hidden; 
}
nav ul li {
	float: left;
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: 20px;
	font-weight: bold;
	padding-left: 50px;
}
nav ul li a {
	display: block; 
	padding: 25px;
	color: #fff;
	text-decoration: none;
	transition:all .3s ease-in-out;
}
nav ul li a:hover {
	color: #E8C1FE;
	transition: transform .3s; 
}